[Bb]in/
[Oo]bj/
*.user
*.suo
obj/Debug/netcoreapp3.1/ArgosyPack_MarkupCompile.i.cache
obj/Debug/netcoreapp3.1/ArgosyPack_MarkupCompile.i.cache
obj/Debug/netcoreapp3.1/ArgosyPack_MarkupCompile.i.cache
obj/Debug/netcoreapp3.1/ArgosyPack_MarkupCompile.i.cache
*.cache
bin/Debug/netcoreapp3.1/ArgosyPack.dll
bin/Debug/netcoreapp3.1/ArgosyPack.pdb
obj/ArgosyPack.csproj.nuget.dgspec.json
obj/Debug/netcoreapp3.1/ArgosyPack.assets.cache
obj/Debug/netcoreapp3.1/ArgosyPack.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/ArgosyPack.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ArgosyPack.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ArgosyPack.dll
obj/Debug/netcoreapp3.1/ArgosyPack.g.resources
obj/Debug/netcoreapp3.1/ArgosyPack.pdb
obj/Debug/netcoreapp3.1/ArgosyPack_MarkupCompile.cache
obj/Debug/netcoreapp3.1/ArgosyPack_MarkupCompile.i.cache
obj/Debug/netcoreapp3.1/ArgosyPack_MarkupCompile.i.lref
obj/Debug/netcoreapp3.1/ArgosyPack_MarkupCompile.lref
obj/Debug/netcoreapp3.1/MainWindow.baml
obj/Debug/netcoreapp3.1/MainWindow.g.cs
obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/ArgosyPack.assets.cache
obj/Debug/netcoreapp3.1/ArgosyPack_MarkupCompile.i.cache
obj/Debug/netcoreapp3.1/ArgosyPack_MarkupCompile.i.lref
obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
Properties/PublishProfiles/FolderProfile.pubxml
.vs/ArgosyPack/DesignTimeBuild/.dtbcache.v2
ArgosyPack.csproj.user
